@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// 300,400,600,700,800

body{
	// background: gray;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
// reset
p{
 		padding: 0;
 		margin: 0
 	}
a{
 			text-decoration: none;
 			list-style: none;
 			padding: 0;
 			margin: 0
 	}
ul{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}

.headerBG{
	padding: 0;
	background: url(../img/headerBG.png);
	background-size: cover;
	min-height: 100vh;
}
// navigation
.navBG{
  background: rgba(0, 0, 0, 0.5);
  height: 66px;
  margin: 0;
  border-bottom: solid white 3px;

  // z-index: 1;
  // position: absolute;
}


//border button toogle
.navbar-light .navbar-toggler {
    border-color: rgb(255, 255, 255);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-collapse{
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	border-radius: 5px;
}
.nav-link{
	padding: 15px;
	&:hover{
		font-weight: bolder;
	}
}
// end navigation

//header title

.headerBG--title{
	margin: 0;
	height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;

	h1{
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
	font-weight: 600;
	}
}

// icon about
.about{
	margin-top: 49px;
}
.one-third{
	// width: 200px;
	text-align: center;
}
.one-third_inner:nth-of-type(2){
	padding-top: 23px;
}
.one-third_inner:nth-of-type(3){
	padding-top: 23px;
}
.icon-1>img{
	width: 160px;
	height: 160px;
	margin-bottom: 18px;
}
.icon_text{
	text-align: justify;
	line-height: 1.5;
	font-size: 12px;
 	font-weight: 300;
}

// table
.table_container{
	margin-top: 49px;
}

table.table_wrapper thead {
  background-color: #0981d8;
  height: 41px;
  padding: 0;
  font-size: 24px;
  font-weight: 800;
  color: #fffefe;
  text-align: center;
  border: solid 2px #0981d8;
}

table.table_wrapper {
  width: 100%;
  background-color: #ffffff;
  // border-collapse: collapse;
  // border: solid 2px #acacac;
  // color: #000000;
}

table.table_wrapper td {
   font-size: 12px;
  font-weight: 300;
  border: solid 2px #acacac;
  text-align: center;
  vertical-align:  center;
  
}
.table td, .table th {
    padding: 7px;
    vertical-align: inherit;
}
.table--information{
	font-size: 12px;
	font-weight: 300;
}
//end table

// paragraph next to table
.paraghaph{
	margin-top: 31px;
	p{
	text-align: justify;
	 font-size: 12px;
  	font-weight: 300;
    line-height: 1.58;
}
}


// galery
.gallery{
	margin-top: 15px;
}
.gallery_padding{
	padding: 4px;
}
.gallery_row--padding{
	padding: 11px;
}


//contact section
.contactBG{
	background-color: #0981de;
}
.maps{
	margin-top: 39px;
	height: 97px;
}
.contact_Icon{
	margin-top: 20px;
	padding-bottom: 20px;
	p{
		color: #fff;
		font-size: 12px;
  		font-weight: 300;
  		margin-top: 10px;
  		margin-bottom: 0;
	}
}
.contact_Icon--fontawesome{
	color: white;
	font-size: 36px;
	margin-top: 22px;

}
 .mobile_contact{
  	// text-decoration: none;
  	// color: white;
  	display: flex;
	flex-direction: column;
	&:hover{
 			text-decoration:none;
 		}
 	p:hover{
 		font-weight: bolder;
 	}
 }

 // menu bottom
 .footerBG{
  // height: 85px;
  background-color: #043861;	
 }
 .menu_bottom{
 	margin-top: 10px;
 	margin-bottom: 10px;
 }
 .menu_bottom--list {
 	// display: inline-block;
 	text-decoration: none;
 	list-style: none;

 	a{
 		color: white;
	 	font-size: 12px;
		font-weight: 300;
		display: block;
		width: 100%;
		padding: 15px;
 		&:hover{
 			font-weight: bolder;
 			text-decoration:none;
 		}//hover
 	}//a
 	}//.menu-bottom--list


 	.about-author{
 		background: #000000;
 		color: white;
 		font-size: 10px;
 		p{
 			padding: 5px;

 		}//p
 	}

// Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {

//header title
.headerBG--title {   
	h1{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
	font-weight: 600;
	font-size: 28px;
	}
}

// icon about
.one-third_inner:nth-of-type(2){
	padding-top: 0px;
}
.one-third_inner:nth-of-type(3){
	padding-top: 0px;
}
//contact section
.contactBG{
	margin-top: 15px;
}

//contact section
.contact_Icon{
	display: flex;
	align-items: center;
}

// menu bottom
 .footerBG{
  height: 85px;
 }
 .menu_bottom--list {
 	display: inline-block;
 	}//.menu-bottom--list

}//media

@media (min-width: 768px) { 

//header title
.headerBG--title {   
	h1{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
	font-size: 34px;
	}
}
//contact section
.maps{
	margin-top: 47px;
	height: 118px;
}
}//media

@media (min-width: 992px) {
	.navbar-collapse{
		background: inherit;
	}

.navbar-light .navbar-nav .nav-link{
	color: #ffffff;
	&:hover{
		color: #ffffff;
	}
}
//header title
.headerBG--title {   
	h1{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
	font-size: 45px;
	}
}
// paragraph next to table
.paraghaph{
	margin-top: 0px;
}

}//media

@media (min-width: 1200px) { 
	//header title
.headerBG--title {   
	h1{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
	font-size: 60px;
	}
}

// icon about
.about{
	margin-top: 49px;
}
.one-third{
	// width: 200px;
	text-align: center;
}
.one-third_inner:nth-of-type(2){
	padding-top: 23px;
}
.one-third_inner:nth-of-type(3){
	padding-top: 23px;
}
.icon-1>img{
	width: 160px;
	height: 160px;
	margin-bottom: 18px;
}
.icon_text{
	text-align: justify;
	line-height: 1.5;
	font-size: 12px;
 	font-weight: 300;
}

}//media

// Extra small (xs) devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small (sm) devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }
// Medium (md) devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
// Large (lg) devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
// Extra (xl) large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
